@page "/client"
@using Microsoft.AspNetCore.SignalR.Client
@using Newtonsoft.Json
@using Blazorball.Data
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<section class="text-center @PreGameCSS">
    <AnimatedHeader />

    <div class="@JoinCTACSS">
        <section class="flex-container join-cta @GamePINCSS">
            <input type="number" class="text-input" placeholder="Game PIN" @bind="gamePIN" />
            <button class="button g-red" @onclick="VerifyRoom">Continue</button>
        </section>

        <section class="flex-container join-cta @UserNameCSS">
            <input type="text" class="text-input" placeholder="Your Name" @bind="userName" />
            <button class="button g-red" @onclick="JoinRoom">Join</button>
        </section>

        <br />
        <span>@Validation</span>
    </div>

    <div class="@TeamSelectorCSS">
        <h3>Joined as: @userName</h3>
        <ul id="userList">
            @for (int i = 1; i <= _teamCount; i++)
            {
                <li>
                    @{ int v = i; }   
                    <span class="list-header"><b>Team @i</b><button class="button" @onclick="() => JoinTeam(v)">Join</button></span>
                    @foreach (var user in _users.Where(u => u.Value == i))
                    {
                        <span>@user.Key</span>
                    }
                </li>
            }
            <li>
                <span class="list-header"><b>Create New Team</b></span>
                <button class="button g-red" @onclick="CreateTeam">Create and Join</button>
            </li>
        </ul>
    </div>
</section>
<section id="client" class="client @GameControlsCSS">
    <div class="info-bar g-red">
        <div class="score">
            <img src="/img/fire.svg" alt="Unit Icon" />
            <h1><span class="c-red">0</span> - <span class="c-blue">0</span></h1>
        </div>
    </div>
    <br /><br />
    <h3 class="text-center">You are on team <b>Color</b>'s <b>Polygon</b> as the <b>Color</b> arm.</h3>
</section>

@code {
    string JoinCTACSS;
    string GamePINCSS;
    string UserNameCSS = "d-none";
    string Validation;

    string TeamSelectorCSS = "d-none";
    private int _teamCount = 0;
    private Dictionary<string, int> _users = new Dictionary<string, int>();

    string PreGameCSS;
    string GameControlsCSS = "d-none";

    int? gamePIN;
    string userName;

    private HubConnection _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chatHub"))
            .Build();

        _hubConnection.On<bool>(Messages.VerifyRoom, (validated) =>
        {
            if (!validated) Validation = "Invalid room code!";
            else
            {
                GamePINCSS = "d-none";
                UserNameCSS = "";
            }
            StateHasChanged();
        });

        _hubConnection.On<bool, string>(Messages.VerifyJoin, (validated, message) =>
        {
            if (!validated) Validation = message;
            else
            {
                JoinCTACSS = "d-none";
                TeamSelectorCSS = "";

                // Add JS Interop to handle disconnections
                JSRuntime.InvokeAsync<object>("createref", DotNetObjectReference.Create(this));
            }
            StateHasChanged();
        });

        _hubConnection.On<int, string>(Messages.UpdateUsers, (teamCount, users) =>
        {
            _teamCount = teamCount;
            _users = JsonConvert.DeserializeObject<Dictionary<string, int>>(users);
            StateHasChanged();
        });

        _hubConnection.On(Messages.StartGame, () =>
        {
            PreGameCSS = "d-none";
            GameControlsCSS = "";
            JSRuntime.InvokeAsync<object>("fullscreen");
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
    }

    Task VerifyRoom() =>
        _hubConnection.SendAsync(Messages.VerifyRoom, gamePIN);

    Task JoinRoom() =>
        _hubConnection.SendAsync(Messages.JoinRoom, gamePIN, userName);

    Task CreateTeam() =>
        _hubConnection.SendAsync(Messages.CreateTeam);

    Task JoinTeam(int teamID) =>
        _hubConnection.SendAsync(Messages.JoinTeam, teamID);

    Task Stop() =>
        _hubConnection.StopAsync();

    public bool IsConnected =>
    _hubConnection.State == HubConnectionState.Connected;

    [JSInvokable]
    public async Task Disconnect() =>
        await _hubConnection.StopAsync();
}